@model Cleanex_pert3.Clients

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Services)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Services)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra3)
        </dd>

    </dl>
</div>
@Html.ActionLink("Ändra", "Edit", new { id = Model.ClientID }, new { @class = "btn btn-info" }) |
@Html.ActionLink("Ta bort", "Delete", new { id = Model.ClientID }, new { @class = "btn btn-danger btn-sm" }) |
@Html.ActionLink("Gå tillbaka", "Index", null, new { @class = "btn btn-danger" })
